.idea
.vscode
_deps
cmake-*
build
build-*
build_*
.DS_Store

toolchains/*
pico_w_intro
projects/pico-sdk*

secrets.py
*.env*

esp_projects/init/sdkconfig
managed_components/
*.heic
projects/OTA_1/firmware/pico-sdk/

projects/OTA_1/firmware/pioasm/

projects/OTA_1/firmware/pioasm-install/

projects/OTA_1/firmware/generated/

projects/OTA_1/firmware/CMakeFiles/

projects/OTA_1/firmware/CMakeCache.txt

projects/OTA_1/firmware/cmake_install.cmake
